
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header, footer {
    width: 100%;
    box-sizing: border-box;
}


#logo-container {
    position: absolute; 
    top: 10px; 
    left: 10px; 
}

#logo {
    height: 40px; 
    width: auto;
}


header h1 {
    margin: 0; 
    font-size: 2em; 
    padding-top: 10vh; 
}


header {
    background-color: #003366; 
    color: white; 
    text-align: center; 
    padding: 20px 0; 
    margin: 0; 
    position: relative; 
    width: 100%; 
}

#totalClases{

    text-align: center;
}


/* ···········································FORMULARIO DE AÑADIR CLASE······································· */
#add-class-form {
    background-color: #ecec97;
    border: 1px solid #ccc; 
    padding: 20px; 
    margin: 30px 0 50px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-wrap: wrap; /* Permitir que los filtros se envuelvan en varias lineas si es necesario */
    justify-content: center; 
    text-align: center; 
}

#add-class-form label, #add-class-form input, #add-class-form select, #add-class-form button {
    margin: 7px; /* Añadir margen entre los elementos */
}

#add-class-form h2 {
    font-size: 1em; 
    font-weight: normal; /* Texto sin negrita */
    margin: 10px 0; 
    text-align: center; /* Centrar el texto */
}


/* ·······································..·······················································*/

/* ·······························FORMULARIO DE FILTROS··········································· */
#filters {
    border: 1px solid #ccc; 
    padding: 15px; /* Espacio interno */
    border-radius: 50px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-wrap: wrap; /* Permitir que los filtros se envuelvan en varias líneas si es necesario */
    justify-content: center; /* Centrar los filtros en la pantalla */
    margin: 20px 10px; 
    text-align: center; 
}


#filters label, #filters select, #filters input, #filters button {
    margin: 7px; 
}

#filters label {
    display: block; /* Asegurar que los labels sean bloques */
}


/*····························CALENDARIO······························································*/

#calendar {
    display: flex;
    flex-wrap: nowrap; /* Para que los días se muestren en una sola línea */
    overflow-y: auto; /* Permitir desplazamiento vertical si los días no caben en la pantalla */
    margin-top: 20px; /* Añadir un margen superior al calendario */
    background-color: #add8e6; /* Fondo azul claro detrás de los contenedores */
    padding: 10px; /* Añadido espacio interno al calendario */
}
.day-column {
    flex: 1; /* Ocupar espacio igualmente en la línea */
    border: 1px solid #ccc;
    padding: 10px; /* Ajustar el padding */
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column; /* Asegurar que los slots se alineen verticalmente */
    background-color: #d3d3d3; /* Fondo gris */
    margin: 10px; /* Margen entre los contenedores */
    width: 40vh;
}
.day-column h3 {
    margin: 5vh; /* Ajustar el margen */
    font-size: 1.2em; /* Tamaño de fuente ligeramente más pequeño */
  
}


/* Asegurar que las franjas horarias ocupen el espacio necesario */
.time-slot {
    flex: 0; /* No permitir que las franjas horarias crezcan automáticamente */
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin: 5px 0; /* Añadir margen entre las franjas horarias */
    width: 30vh;
}




.time-slot p {
    margin: 0; /* Ajustar el margen de los párrafos dentro de los slots */
}

.selected {
    background-color: #e0e0e0;
}


/*··················································································································*/

/*················································ Estilos para el modal·········································· */
.modal {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
}

.modal-content {
    background-color: whitesmoke;
    margin: 15% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 60%;
    position: relative;
}

.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}



.class {
    border: 2px dashed #f0f0f0; /* Borde de franjas */
    background-color: #f0f0f0; /* Fondo gris claro */
    padding: 20px; 
    margin: 10px 0; /* Margen entre franjas */
    border-radius: 5px; /* Bordes redondeados */
    display: flex; /* Flexbox para alinear contenido */
    justify-content: flex-start; /* Alineación del contenido */
    align-items: flex-start; /* Alineación del contenido */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    cursor: pointer; /* Cursor de puntero */
    width: 70%; /* Igualar el ancho */
}


.class:hover {
    background-color: #e9a45a; 
    border: 2px dashed #e9a45a; 
    margin: 15px; 
    padding: 20px;
}


/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {

    #filters {
        flex-direction: column; /* Apilar filtros verticalmente */
        align-items: center; /* Centrar los filtros */
        display: block;
        }

    #add-class-form {
            flex-direction: column; /* Apilar filtros verticalmente */
            align-items: center; /* Centrar los filtros */
        }


     #filters input, #filters button{
        min-width:15%; 
        max-width: 100%; 
        display: block;
        margin-left:40%;
    }

    #filters select{

        min-width:15%; 
        max-width: 100%; 
        margin-left:0%;

    }


    #filters label{

        text-align:center;
        
    }

    #add-class-form label, #add-class-form input {
        flex-direction: column; /* Apilar filtros verticalmente */
        display: block; /*hace que se vea cada elemento en una fila */
        margin-left:10%;
    }

    #add-class-form button {


        flex-direction: column; /* Apilar filtros verticalmente */
        display: block; /*hace que se vea cada elemento en una fila */
        margin-left:40%;



    }

    #add-class-form select{

        min-width:10%; 
        max-width: 100%; 
        flex-direction: column; /* Apilar filtros verticalmente */
        margin-left:10%;

    }
    
    #filters label, #add-class-form label {
        margin-bottom: 7px;

    }

    #filters input, #filters select, #filters button,
    #add-class-form input, #add-class-form select, #add-class-form button {
        margin-bottom:5%; 
    }


    
 
     /* Asegúrate de que .class y .no-clases tengan el mismo ancho en pantallas pequeñas */
     .class {
        width: 70%;
        margin: 10px auto; /* Margen entre franjas */
        border-radius: 5px; /* Bordes redondeados */
        display: flex; /* Flexbox para alinear contenido */
        justify-content: flex-start; /* Alineación del contenido */
        align-items: flex-start; /* Alineación del contenido */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        cursor: pointer; /* Cursor de puntero */
    }
    
    .no-clases {
        width: 70%; /* Igualando el ancho de .no-clases con .class */
        margin: 10px auto; /* Centrar horizontalmente */
        border-radius: 5px; /* Bordes redondeados */
        display: flex; /* Flexbox para alinear contenido */
        justify-content: flex-start; /* Alineación del contenido */
        align-items: flex-start; /* Alineación del contenido */
        padding: 20px; /* Asegúrate de que .no-clases tenga el mismo padding */
        background-color: #f9f9f9; /* Fondo gris claro */
    }

    .empty-message {
        flex: 1;
        width: 70%; /* Igualando el ancho de .empty-message con .class y .no-clases */
        max-width: 100%; /* Ajusta el máximo ancho según tus necesidades */
        margin: 10px auto; /* Centrar horizontalmente */
        padding: 20px;
        background-color: #f9f9f9; 
    }

    .day-column {
        flex: 1; /* Ocupar espacio igualmente en la línea */
        width: 40vh; 
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;
        display: flex;
        flex-direction: column; /* Asegurar que los slots se alineen verticalmente */
        background-color: #d3d3d3; /* Fondo gris */
        margin: 10px; /* Margen entre los contenedores */
    }

    .time-slot {
        border: 1px solid #ccc;
        width: 30vh;
        box-sizing: border-box;
        text-align: center;
        margin: 5px 0; /* Añadir margen entre las franjas horarias */
    }



}


/* Mensaje de "No hay clases en la franja actual"*/

/* Asegúrate de que .empty-message tenga el mismo tamaño que .class y .no-clases */
.empty-message {
    color: #888; 
    font-style: italic;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9; 
    width: 70%; /* Igualar el ancho */
    max-width: 100%; /* Ajusta el máximo ancho según tus necesidades */
    margin: 10px auto; /* Centrar horizontalmente */
}
.no-clases {
    color: #888; 
    font-style: italic;
    text-align: center;
    background-color: #f9f9f9; 
    padding: 20px; 
    margin: 10px 0; /* Margen entre franjas */
    border-radius: 5px; /* Bordes redondeados */
    display: flex; /* Flexbox para alinear contenido */
    justify-content: flex-start; /* Alineación del contenido */
    align-items: flex-start; /* Alineación del contenido */
    width: 70%; /* Igualar el ancho */
    
}
