/* General styles for better responsiveness */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header, footer {
    width: 100%;
    box-sizing: border-box;
}

/* Estilos del logo en la esquina superior izquierda */
#logo-container {
    position: absolute; /* Mantener la posición absoluta para la esquina superior izquierda */
    top: 10px; /* Ajustar la distancia desde la parte superior */
    left: 10px; /* Ajustar la distancia desde la parte izquierda */
}

#logo {
    height: 40px; /* Ajustar la altura del logo para que sea más pequeño */
    width: auto; /* Mantener la proporción del logo */
}

/* Estilo para el título en el header */
header h1 {
    margin: 0; /* Eliminar márgenes del h1 */
    font-size: 2em; /* Tamaño de fuente para el título */
    padding-top: 10vh; /* Ajustar el espacio entre el logo y el título */
}

/* Ajustar el header */
header {
    background-color: #003366; /* Azul marino */
    color: white; /* Letra blanca */
    text-align: center; /* Centrar el texto */
    padding: 20px 0; /* Añadir padding superior e inferior */
    margin: 0; /* Eliminar cualquier margen del header */
    position: relative; /* Asegurar que el logo esté posicionado relativo al header */
    width: 100%; /* Asegurar que el header ocupe todo el ancho */
}

/* FORMULARIO DE AADIR CLASE */
#add-class-form {
    background-color: #ecec97; /* Fondo amarillo claro */
    border: 1px solid #ccc; /* Borde gris claro */
    padding: 20px; /* Espacio interno */
    margin: 30px 0 50px; /* Margen superior e inferior */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex;
    flex-wrap: wrap; /* Permitir que los filtros se envuelvan en varias lÃ­neas si es necesario */
    justify-content: center; /* Centrar los filtros en la pantalla */
    text-align: center; /* Alinear texto al centro */
}

/* Asegurar que los elementos del formulario se comporten igual en mÃ³vil y en escritorio */
#add-class-form label, #add-class-form input, #add-class-form select, #add-class-form button {
    margin: 5px; /* AÃ±adir margen entre los elementos */
}

/* Estilo del tÃ­tulo en el formulario */
#add-class-form h2 {
    font-size: 1em; /* TamaÃ±o normal de la letra */
    font-weight: normal; /* Texto sin negrita */
    margin: 10px 0; /* AÃ±adir margen superior e inferior */
    text-align: center; /* Centrar el texto */
}


/* FORMULARIO DE FILTROS */
#filters {
    border: 1px solid #ccc; /* Borde gris claro */
    padding: 20px; /* Espacio interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex;
    flex-wrap: wrap; /* Permitir que los filtros se envuelvan en varias líneas si es necesario */
    justify-content: center; /* Centrar los filtros en la pantalla */
    margin: 30px 0 50px; /* Añadir margen superior e inferior */
    text-align: center; /* Alinear texto al centro */
}

/* Asegurar que los elementos de los filtros se comporten igual en móvil y en escritorio */
#filters label, #filters select, #filters input, #filters button {
    margin: 5px; /* Añadir margen entre los elementos */
}

#filters label {
    display: block; /* Asegurar que los labels sean bloques */
}

/* Estilos para el calendario */
#calendar {
    display: flex;
    flex-wrap: nowrap; /* Para que los días se muestren en una sola línea */
    overflow-x: auto; /* Permitir desplazamiento horizontal si los días no caben en la pantalla */
    height: 80vh; /* Ajustar la altura total del calendario */
    margin-top: 20px; /* Añadir un margen superior al calendario */
    background-color: #add8e6; /* Fondo azul claro detrás de los contenedores */
    padding: 10px; /* Añadido espacio interno al calendario */
}

.day-column {
    flex: 1; /* Ocupar espacio igualmente en la línea */
    border: 1px solid #ccc;
    padding: 10px; /* Ajustar el padding */
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    height: calc(80vh - 30px); /* Ajustar la altura de cada columna para ocupar la pantalla */
    display: flex;
    flex-direction: column; /* Asegurar que los slots se alineen verticalmente */
    background-color: #d3d3d3; /* Fondo gris */
    margin: 10px; /* Margen entre los contenedores */
}

.day-column h3 {
    margin: 5px 0; /* Ajustar el margen */
    font-size: 1.2em; /* Tamaño de fuente ligeramente más pequeño */
}

.time-slot {
    flex: 1; /* Ocupar espacio igualmente en la columna */
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    margin: 5px 0; /* Añadir margen entre las franjas horarias */
}

.time-slot p {
    margin: 0; /* Ajustar el margen de los párrafos dentro de los slots */
}

.selected {
    background-color: #e0e0e0;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
}

.modal-content {
    background-color: whitesmoke;
    margin: 15% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 60%;
    position: relative;
}

.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}


/* Estilo para las franjas horarias */
.class {
    border: 2px dashed #f0f0f0; /* Borde de franjas */
    background-color: #f0f0f0; /* Fondo gris claro */
    padding: 20px; /* Padding para más espacio */
    margin: 10px 0; /* Margen entre franjas */
    border-radius: 5px; /* Bordes redondeados */
    display: flex; /* Flexbox para alinear contenido */
    justify-content: flex-start; /* Alineación del contenido */
    align-items: flex-start; /* Alineación del contenido */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    cursor: pointer; /* Cursor de puntero */
}

/* Si deseas mantener el estilo del hover también en el estado normal */
.class:hover {
    background-color: #e9a45a; /* Fondo más claro cuando se pasa el ratón */
    border: 2px dashed #e9a45a; /* Borde más oscuro cuando se pasa el ratón */
    margin: 15px; /* Aumentar el margen superior e inferior */
    padding: 20px; /* Aumentar el padding */
}


/* Media Queries para pantallas pequeÃ±as */
@media (max-width: 768px) {
    #filters, #add-class-form {
        flex-direction: column; /* Apilar filtros verticalmente */
        align-items: center; /* Centrar los filtros */
    }

    #filters label, #filters select, #filters input, #filters button,
    #add-class-form label, #add-class-form input, #add-class-form select, #add-class-form button {
        width: 100%; /* Asegurar que los campos ocupen todo el ancho */
        max-width: 300px; /* Establecer un ancho mÃ¡ximo razonable */
    }
    
    #filters label, #add-class-form label {
        display: block; /* Asegura que las etiquetas estÃ©n sobre los campos */
        margin-bottom: 5px; /* AÃ±adir espacio entre la etiqueta y el campo */
    }

    #filters input, #filters select, #filters button,
    #add-class-form input, #add-class-form select, #add-class-form button {
        margin-bottom: 10px; /* AÃ±adir un margen inferior para separar los campos */
    }
}